<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <h1>Home Page</h1>

        <main>
            <% duck.forEach(data => { %>
                <ul>
                    <li><h1>User: <a href="/<%= data.id %>"><%= data.user %></a></h1></li>
                    <li><p>The problem is: <%= data.problem %></p></li>
                    <li><p>The goal is to: <%= data.goal %></p></li>
                    <li><p>The # of estimated steps: <%= data.steps %></p></li>
                </ul>
            <% }) %>
        </main>
    </body>
</html>